$shadow-1: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px rgba(0, 0, 0, 0.06);
$shadow-1-inv: 0px -5px -4px -4px rgba(0, 0, 0, 0.02), 0px -1px -2px rgba(0, 0, 0, 0.06);

$shadow-2: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 2px 2px rgba(0, 0, 0, 0.08);
$shadow-2-inv: 0px 0px -2px rgba(0, 0, 0, 0.04), 0px -2px -2px rgba(0, 0, 0, 0.08);

$shadow-3: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 12px 12px -8px rgba(0, 0, 0, 0.08);
$shadow-3-inv: 0px 0px -4px rgba(0, 0, 0, 0.04), 0px -12px -12px -8px rgba(0, 0, 0, 0.08);

$shadow-4: 0px 2px 6px rgba(0, 0, 0, 0.06), 0px 32px 40px -16px rgba(0, 0, 0, 0.12);
$shadow-4-inv: 0px -2px -6px rgba(0, 0, 0, 0.06), 0px -32px -40px -16px rgba(0, 0, 0, 0.12);

$shadow-5: 0px 48px 64px -24px rgba(0, 0, 0, 0.12), 0px 24px 48px -8px rgba(0, 0, 0, 0.12);
$shadow-5-inv: 0px -48px -64px -24px rgba(0, 0, 0, 0.12), 0px -24px -48px -8px rgba(0, 0, 0, 0.12);

/* Pretty Shadows */
$shadow-6: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);
$shadow-6-inv: -1.95px -1.95px -2.6px 0px rgba(0, 0, 0, 0.15);
$shadow-7: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
$shadow-7-inv: 0px -5px -15px 0px rgba(0, 0, 0, 0.5);
$shadow-8: 0px 5px 15px 10px rgba(0, 0, 0, 0.7);
$shadow-8-inv: 0px -5px -15px 10px rgba(0, 0, 0, 0.7);